<!-- <div class="container" role="main">

  <app-product></app-product>

<app-test-component
*ngFor="let serverElement of serverElements"
(eventClicked)="onRootEvent($event)"
[name]="'NameFromRoot'"
>
  <p #contentParagraph>
    <strong *ngIf="serverElement === 'three'" style="color: red">{{ serverElement }}</strong>
    <em *ngIf="serverElement === 'type'">{{ serverElement }}</em>
  </p>
</app-test-component>
</div> -->


<ul class="nav nav-tabs">
  <li role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">Home</a>
  </li>
  <li role="presentation"
      routerLinkActive="active">
    <a routerLink="servers">Servers</a>
  </li>
  <li 
    role="presentation"
    routerLinkActive="active"
    *ngIf="isAuthenticated"
  >
      <a [routerLink]="['users']">Services</a>
  </li>

  <li 
    role="presentation"
    routerLinkActive="active"
    *ngIf="isAuthenticated"  
  >
    <a [routerLink]="['tform']">Template forms</a>
  </li>

  <li 
    role="presentation"
    routerLinkActive="active"
    *ngIf="isAuthenticated"
  >
    <a [routerLink]="['reactiveform']">Reactive forms</a>
  </li>

  <li 
    role="presentation"
    routerLinkActive="active"
    *ngIf="!isAuthenticated"
  >
    <a [routerLink]="['auth']">Authenticate</a>
  </li>

  <li *ngIf="isAuthenticated">
    <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
  </li>
</ul>

<router-outlet></router-outlet>